.projects{
display: flex;
font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 3vh;
}

.projects > div> a> p{
    
    /* text-align: center; */
}

.type{
    width: 25%;
    padding-left: 1vh;
    border-right: 1px solid #ffffff4f;
}




.type > p{
    margin-bottom: 22vh;
}
.op{
   /* width:35%; */

  
}

.sema{
    /* width:35%; */
    
}
 .openbook{
    /* width:35%; */
    
 }
 .projectBox{
    border-bottom: 1px solid #ffffff4f;
    margin-bottom: 5vh;
    padding: 1vh;
    text-align: center;
 }
 .projectBox > img{
    border-radius: 0.35em;
    width: 27vh;
    margin-left: auto;
     margin-right: auto;
     width: 50%;
     display: block;
     box-shadow: 5px 10px 8px #888888
 }
 .projectBox > a{
    font-size: 16px;
    text-decoration: underline;
 }
 .title{
    font-family: 'Vollkorn', serif;
    font-size: 2em;
    margin: 0;
    text-align: center;
    margin-top: 1vh;
 }