@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    height: 100%;
}
* {
    /* box-sizing: border-box; */
  }
body{
    margin: 0;
    color: #121111;;
    font-family: 'Vollkorn', serif;
    font-weight: 600;
    /* font-size:1.5em ; */
    /* background-image: url("../../static/bgr.jpg"); */
    background-color: #fbfbfb;;
    /* background-position: 80% 45%; */
    /* background-size: 170%; */
    /* background-repeat: no-repeat; */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    height: 100%;
    
    backdrop-filter: brightness(100%) contrast(100%);
}
.grad{
    height: 100vh;
    margin: 0;
    background: #ffffff2e;
}
.flex{
    display: flex;
    justify-content: space-between;
    z-index: 2;
   
}
.grid {
    width: 45%;
    margin-left: 25%;
    height: 100%;
    border: rgba(18, 18, 18, 0.52) solid 1px;
    position: absolute;
    bottom: 0;
    overflow: auto;
    background: linear-gradient(90deg, rgba(202,204,203,1) 0%, rgb(245, 245, 245) 100%);
}
.textSpan{
    background-color: whitesmoke;
}

.link {
    color: black;
    text-decoration: underline;
    transition: color .33s ease;

}
.link:hover {
    color: rgb(10, 252, 30);
    transition: color .33s ease;
}
a:hover{
    color: rgb(10, 252, 30);
    transition: color .33s ease;
}
a{
    text-decoration: none;
    margin: 0;
    color: #767879;
    
}