@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    height: 100%;
    background-color: #313131;
}
* {
    box-sizing: border-box;
  }

:root{
    --main-bg-color: #212121;
}
body{
    margin: 0;
    font-family: 'Vollkorn', serif;
    font-weight: 600;
    height: 100%;
    position: relative;
    overflow: hidden;
    color: #f6fdf9;;
    
    
}
.grad{
    height: 100%;
    margin: 0;
    background: var(--main-bg-color);
    /* height: 98vh; */
    
    position: absolute;
    width: 100%;
    /* display: none !important; */
}
.flex{
    display: flex;
    justify-content: space-between;
    z-index: 2;
    height: 100%;
    position: relative;
    /* display: none !important; */
   
}
.grid {
    width: 45%;
    height: 100%;
    margin-left: auto;
    overflow: auto;
    background: #252525fc;
     
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    /* display: none !important; */

}
.grid::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.textSpan{
    background-color: whitesmoke;
}
.skill{
    color: #e6b1b1;
}

.link {
    color: black;
    text-decoration: underline;
    transition: color .33s ease;

}
.link:hover {
    color: thistle;
    transition: color .33s ease;
}
a:hover{
    color: #c5f9ba;
    transition: color .33s ease;
}
a{
    text-decoration: none;
    margin: 0;
    color: #e8e8e8;
}
.Three_container{
    position: absolute;
    z-index: 1;
}

@media only screen and (max-width: 650px) {
 .grid{
    /* width: 100%; */
    margin: 0;
    flex: 1;
    background: #252525;
 }
 .grad{
     border:  none;
     display: flex;
    flex-direction: column;
    border: 2px solid #ebedec;
 }
}