.links{
    height: 100%;
    width: 28%;
    font-size: 3.5vw;
    
    margin-top: 10%;
}

.links > ul {
    list-style: none;
}

.links > ul > li{
    line-height: 1.15em;
}
.links  > ul > li > span > a{
    
    color: #f2f2f2;
    height: 1vh;
    text-decoration: line-through;
    transition: color .33s ease;
    cursor: pointer;


}

.links >  ul > li > a{
    /* font-size: 3rem; */
    color: #f2f2f2;
    height: 1vh;
    /* text-decoration: line-through; */
    transition: color .33s ease;
    cursor: pointer;
    
}
.links   > ul > li > a:hover{
    color: #00ff5d
}
.links > ul > li > a {
    height: 1vh;

    color: #f2f2f2;
    transition: color .33s ease;
    cursor: pointer;

}
/* .links > div > a{
    height: 1vh;
    font-size: 3rem;
    color: #151414;
    transition: color .33s ease;
    cursor: pointer;
} */
.links > ul > li > a:hover{
    color: #00ff5d
}
.links > ul > li > span > a:hover{
    color: #00ff5d
}
@media only screen and (max-width: 650px) {
    .links{
        height: 100%;
        font-size: 3.5vw;
        margin-top: 10%;
        width: fit-content;
    }
    .links ul{
    list-style: none;
    display: flex;
    writing-mode: vertical-rl;
    padding: 0;
    justify-content: space-between;
    /* margin: -3em; */
    height: 80%;
    font-size: 1.75em;
    margin: 0;
    }
}