.links{
    /* height: 100%; */
    width: 25%;
    /* text-align: right; */
    /* float: right; */
    display: flex;
    /* margin-left: 1vh; */
    margin-top: 10%;
}
.links > div {
    margin-left: 4vh;
}
.links > div > p {
    height: 1vh;
    font-size: 3rem;
    color: #151414;

    /* margin-right: 7vh; */
}