.links{
    height: 100%;
    width: 25%;
    
    float: right;
    display: flex;
    
    margin-top: 10%;
}
.links > div {
    margin-left: 4vh;
}
.links > div > span > p{
    font-size: 3rem;
    color: #151414;
    height: 1vh;
    text-decoration: line-through;
    transition: color .33s ease;
    cursor: pointer;
}
.links > div > p {
    height: 1vh;
    font-size: 3rem;
    color: #151414;
    transition: color .33s ease;
    cursor: pointer;
    /* margin: 0; */
    /* margin-right: 7vh; */
}
/* .links > div > a{
    height: 1vh;
    font-size: 3rem;
    color: #151414;
    transition: color .33s ease;
    cursor: pointer;
} */
.links > div > p:hover{
    color: rgb(10, 252, 30)
}
.links > div > span > p:hover{
    color: rgb(10, 252, 30)
}
