 .aboutme > p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    padding-right: 4vh;
    padding-left: 4vh;
    padding-top: 4vh;
    line-height: 3.5vh;
}



.aboutme > ul{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    text-align: center;
    margin-right: 5vh;
    margin: 0 5vh 0 0;
}

.aboutme > ul > li >a{
text-decoration: underline;
}

.aboutme >img{
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    display: block;

}
