.projects{
   display: flex;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 16px;
   padding-top: 4vh
}


.type{
    width: 25%;
    padding-left: 1vh;
    border-right: 1px solid #ffffff4f;
}




.type > p{
    margin-bottom: 22vh;
}


 .projectBox{
    border-bottom: 1px solid #ffffff4f;
    margin-bottom: 5vh;
    padding: 1vh;
    /* padding-left: 2vh;
    padding-right: 2vh; */
    text-align: center;
 }
 .projectBox > a > img{
    border-radius: 0.35em;
    width: 27vh;
    margin-left: auto;
     margin-right: auto;
     margin-top: 1vh;
    margin-bottom: 2vh;
     width: 50%;
     display: block;
     box-shadow: 4px 5px 8px #888888;
 }
 .projectBox > a{
    font-size: 16px;
    text-decoration: underline;
 }
 .projectBox > p{
    padding-left: 5vh;
    padding-right: 5vh;
 }
 .title{
    font-family: 'Vollkorn', serif;
    font-size: 2em;
    margin: 0;
    text-align: center;
    margin-top: 1vh;
 }