.resume{
    width: 100%;
    text-align: center;
}
.container{
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 4vh;
    margin-bottom: 2vh;
    
}
.overlay {
    max-width: 70%;
    height: auto;
  /* margin-top: 8vh; */
  /* margin-bottom: 2vh; */
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .5s ease;
  background-color: #C6EBBE;
  margin:auto;
}
.thumb{
    
    display: block;
    max-width: 70%;
  height: auto;
  margin:auto;
  background: none;
  box-shadow: 5px 10px 8px #888888;
}

.text{
    color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.container:hover .overlay {
    opacity: .85;
  }
  




