.header{
    /* border-bottom: 2px solid rgb(220, 220, 220); */
    /* padding-left: 3vh; */
    margin: 0;
    /* padding-top: 3vh; */
    
}

.header > div {
  cursor: pointer;
  display: flex;
  justify-content: center;

}
.header > div > a > img {
    width: 95%;
    transition: filter 1s;


}
/* .header > div > a > img:hover {
    filter: invert();
    transition: filter 1s;
  } */
