@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@500;600&display=swap');

html{
    background-color: #d1d1d1;
}

body{
    margin: 0;
    color: #090909;
    font-family: 'Vollkorn', serif;
    font-weight: 500;
    font-size:1.5em ;
}