 .aboutme > p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-right: 4vh;
    padding-left: 4vh;
    padding-top: 2vh;
    line-height: 3.5vh;
}
 .aboutme > p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-right: 4vh;
    padding-left: 4vh;
    padding-top: 2vh;
    line-height: 3.5vh;
}
.aboutme > p:nth-child(2){
    /* text-align: center; */
}

.aboutme > ul{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-top: 3vh;
    margin-right: 5vh;
}

.aboutme > ul > li >a{
text-decoration: underline;
}
.aboutme >img{
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    display: block;
    margin-top: 1vh;
    /* padding-right: 4vh; */
    /* padding-left: 4vh; */
    /* padding-top: 2vh; */
    
}
.linkId{
    /* color: rgb(16, 219, 242); */
}